.container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr;
	grid-template-areas: 'header' 'main';
}

header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
	transition: all 0.5s ease;
}

main {
	grid-area: main;
}
