button {
	background-color: var(--primary-color-2);
	border-radius: 20px;
	padding: 15px 40px;
  border: none;
  transition: all 0.2s ease;
}

button:hover {
  background-color: var(--secondary_color_1);
  cursor: pointer;
}
